/* Fonts */
@font-face {
  font-family: 'archia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Awesome Font'),
       url('fonts/archia-medium-webfont.woff2') format('woff2'), 
       url('fonts/archia-medium-webfont.woff') format('woff');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'archia';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: local('Awesome Font'),
       url('fonts/archia-semibold-webfont.woff2') format('woff2'), 
       url('fonts/archia-semibold-webfont.woff') format('woff');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

/* Global Changes */
html {
    overflow-y: scroll; /* Prevents jump due to scroll bar */
}

body {
	margin: 0;
}

* {
   font-family: archia;
}

h1, h2, h3, h4, p, a {
	color: #4f4f4f;
	margin: 0.5em 0;
}

p {
	font-size: 0.875em;
}

button {
	color: #4f4f4f;
}

button:focus {
	outline: none;
}

/* Main Containers */
.main {
	margin-top: 55px;
}

.container {
	margin: 0 auto;
	max-width: 1140px;
	padding: 10px 0;
	position: relative;
	width: 95%;
}

.panel {
	margin: 0 auto;
	max-height: 0;
	overflow: hidden;
	padding: 0;
	transition: max-height 0.2s ease-out;
}

.col-left {
	display: inline-block;
	width: 48%;
}

.col-right {
	display: inline-block;
	float: right;
	width: 48%;
}

.box {
	overflow: hidden;
}

.topbar {
	margin-left: 15%;
}

.panel>.topbar {
	margin-left: 8%;
}

.responsive-img {
	display: block;
	max-width: 550px;
	margin: 0 auto;
	width: 100%;
	height: auto;
}


/* For Maps */
.map-canada {
	padding-bottom: 60%;
	margin-bottom: 10px;
}

.map-world {
	padding-bottom: 45%;
	margin-bottom: 10px;
}

.map-ontario {
	display: block;
	padding-bottom: 40%;
	margin-bottom: 10px;
}

.map>div {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

#canadaMapMobile {
	display: none; /* Map with smaller font */
}

#canadaMap {
	display: block; /* Map with normal font */
}

/* Top Navigation Bar */
.topnav {
	background-color: #ededed;
	overflow: hidden;
	margin-bottom: 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.topnav img {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	width: 31px;
	vertical-align: bottom;
}
.topnav a {
	display: block;
	float: left;
	font-size: 15px;
	margin: 0;
	padding: 13px 14px;
	text-align: center;
	text-decoration: none;
}

.topnav-content {
	padding: 0 2.5%;
	background-color: #ededed;
	max-width: 1140px;
	margin: 0 auto;
}

.topnav-right {
	float: right;
	overflow: hidden;
}

.topnav a.navright:hover {
	font-weight: bold;
	color: black;
}

.topnav a.active {
	font-weight: bold;
	color: black;
}

.topnav .icon {
	display: none;
}

#logoLink {
	padding: 7px 0;
}

#siteName {
	font-size: 18px;
	padding: 12px 14px;
	font-weight: bold;
}

#countryname {
	color: #FF0000;
}

/* Collapsible Sections */
.collapsible {
	background-color: #e6e6e6;
	transition: background .2s ease-in-out;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	padding: 10px;
	width: 100%;
	border: 0;
	border-radius: 2px;
}

.collapsible:after {
    font-family: "Font Awesome 5 Free";
	font-weight: bold;
	content: "\f067";
    color: #555555;
	float: right;
}

.collapsible.active:after {
    content: '\f068';
}

.collapsible:hover {
	background-color: #ededed;
}

.collapsible:focus {
	outline: none;
}

/* Metrics by Cases or Deaths */
button.metric {
	border: 1px solid #d3d3d3;
	border-radius: 2px;
	cursor: pointer;
	font-size: 12px;
	height: 33px;
	padding: 0 12px;
	background-color: white;
}

#btnDeaths {
	background-color: #dcdcdc;
}

#byDeaths {
	max-height: 0;
}

/* Info Buttons */
.infoButton {
	display: inline-block;
	font-size: 28px;
	color: #555555;
	vertical-align: middle;
}

.infoButton:hover {
	cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  top: 30%;
  margin: auto;
  padding: 0 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1),0 6px 20px 0 rgba(0,0,0,0.2);
}

.modal-content>p {
	margin-block-end: 1.7em;
}

/* The Close Button */
.close {
  color: grey;
  float: right;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #555555;
  text-decoration: none;
  cursor: pointer;
}

/* Notes for sections */
p.footnote {
	margin-block-start: 0;
	margin-left: 2.5%;
}

/* FAQ Page */
.FAQ {
	max-width: 480px;
}

.FAQ>.answer, .answer>a {
	line-height: 1.5em;
	margin-bottom: 2em;
	font-size: 1em;
	font-weight: bold;
	color: #fa8072;
	text-decoration: none;
    transition: background .2s ease-in-out
}

.answer>a:hover {
	background: rgba(250,128,114,0.15);
}

/* Animations */
.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.45s;
  animation-fill-mode: both;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}