h1, h4, p {
	color: #2a3f5f;
	font-family: Verdana, Arial, sans-serif;
}

.myButton {
	border-radius:6px;
	border:1px solid #ffffff;
	cursor: pointer;
	display: block;
	font-family: Verdana, Arial, sans-serif;
	font-size:15px;
	padding: 10px 0;
	margin: 5px auto;
	position: relative;
	text-align: center;
	text-decoration:none;
	width: 100%;
}

.myButton-active {
	background:#e5ecf6;
	color: #2a3f5f;
	font-weight: bold;
}

.myButton-inactive {
	background:#ededed;
	color: #3f5f8f;
	font-weight: normal;
}

.myButton:active {
	position:relative;
	top:1px;
}

.myButton:focus {
	outline: 0;
}

.container {
	margin: 0 auto;
	max-width: 1800px;
	position: relative;
	text-align: center;
	width: 90%;
	padding: 0;
}

.col-2 {
	width: 100%;
	height: 600px;
}

.map {
	padding-bottom: 50%;
}

object {
	height: 100%;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
}