body {
	margin: 0;
}

h1, h2, h3, p {
	color: #2a3f5f;
	font-family: "Open Sans", Verdana, Arial, sans-serif;
}

div {
	margin-bottom: 20px;
}

p {
	font-size: 0.75em;
}

p.footnote {
	margin-block-start: 0;
	margin-left: 7px;
}

.container {
	margin: 0 auto 20px;
	max-width: 1200px;
	padding: 0;
	position: relative;
	width: 95%;
}

.panel {
	margin: 0 auto;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.box {
	padding: 0;
	position: relative;
	width: 100%;
}

.col-left {
	display: inline-block;
	width: 48%;
}

.col-right {
	display: inline-block;
	float: right;
	width: 48%;
}

.topbar {
	border-bottom: 1px solid lightgrey;
}

#canadaMapMobile {
	display: none;
}

#canadaMap {
	display: block;
}

.map-canada {
	padding-bottom: 45%;
}

.map-world {
	display: block;
	padding-bottom: 50%;
}

.map-ontario {
	display: block;
	padding-bottom: 40%;
	position: relative;
	width: 100%;
}

.map>div {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

.topnav {
	background-color: #ededed;
	overflow: hidden;
	margin-bottom: 16px;
}

.topnav a {
	color: #2a3f5f;
	display: block;
	float: left;
	font-size: 14px;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #aaa;
	color: black;
}

.topnav a.active {
	background-color: #2a3f5f;
	color: white;
}

.topnav .icon {
	display: none;
}

.collapsible {
	background-color: #ededed;
	font-size: 16px;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	text-align: left;
	padding: 10px;
	width: 100%;
	border: 0;
}

.collapsible:before {
    content: '\25B6';
    color: #2a3f5f;
    float: left;
    margin-right: 7px;
}

.collapsible.active:before {
    content: '\25BC';
}

.collapsible:focus {
	outline: none;
}

.infoButton {
	background-color: white;
	border: 0;
	color: grey;
	font-size: 26px;
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
}

.infoButton:hover {
	color: #2a3f5f;
}

.infoButton:focus {
	outline: none;
}

.FAQ {
	max-width: 480px;
}

.FAQ>.answer {
	line-height: 1.5em;
	margin-bottom: 3em;
	font-size: 1em;
	font-weight: bold;
	color: #2171b5;
}