h1 {
	font-size: 1.25em;
}

.mainbar-2 {
	width: 49.5%;
}

.mainbar-3 {
	width: 32.7%;
}

.map {
	display: block;
	padding-bottom: 40%;
}

.myButton {
	display: inline-block;
	width: 32.9%;
	font-size: 14px;
}