/* For small displays */
/* Top Bar */
.topbar {
	margin-left: 5%;
}

.panel>.topbar {
	margin-left: 0;
}

/* Maps */
.map-canada {
	padding-bottom: 70%;
}

#canadaMapMobile {
	display: block; /* Map with smaller font */
}

#canadaMap {
	display: none; /* Map with normal font */
}

/* Top Navbar Becomes Menu */
.topnav-right {
	float: none;
	width: 100%;
}

.topnav.responsive {
	background-color: rgba(0,0,0,0.6);
	height: 100%;
	
}

.topnav a.icon {
    float: right;
    display: block;
	font-size: 16px;
}

.topnav a.navright {
	display: none;
}

.topnav.responsive a.navright {
    float: none;
    display: block;
	border-bottom: 1px solid #ccc;
}

/* Two column items fold in */
.col-left, .col-right {
	padding-bottom: 20px;
	float: none;
	width: 100%;
}

.modal-content {
  top: 10%;
}