/* For small displays */
/* Top Bar */
.topbar {
	margin-left: 0;
}

.panel>.topbar {
	margin-left: 0;
}

/* Maps */
.map-canada {
	padding-bottom: 70%;
}

#canadaMapMobile {
	display: block; /* Map with smaller font */
}

#canadaMap {
	display: none; /* Map with normal font */
}

/* Top Navbar Becomes Menu */
.topnav a.icon {
    float: right;
    display: block;
	font-size: 21px;
	padding: 8px 14px;
}

.topnav-right a {
	display: none;
}

.topnav-right.responsive {
	position: relative;
	width: 100%;
}

.topnav-right.responsive .icon {
    position: absolute;
	color: white;
    right: 0;
    top: 0;
	font-size: 13px;
	
}
.topnav-right.responsive a {
    float: none;
    display: block;
}

/* Two column items fold in */
.col-left, .col-right {
	padding-bottom: 20px;
	float: none;
	width: 100%;
}

.modal-content {
  top: 10%;
}