.topnav a:not(:first-child) {
	display: none;
}

.topnav a.icon {
    float: right;
    display: block;
	font-size: 13px;
}

.topnav.responsive {
	position: relative;
}

.topnav.responsive .icon {
    position: absolute;
	color: white;
    right: 0;
    top: 0;
	font-size: 13px;
	
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}

.col {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 50%;
}